* {
  font-family: "Tahoma";
}

.nav {
  background-color: rgb(47, 168, 219);
  padding: 20px;
  border-bottom: 2px solid black;
  align-items: center;
  margin-bottom: 30px;
}

.navTitle {
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 110px;
  justify-content: center;
  align-items: center;
  color:black;
  font-weight: bold;
  border-bottom: 2px solid rgb(253, 184, 22);
  border-top: 2px solid rgb(253, 184, 22);
}

.logout {
  color:black ;
  background-color:  rgb(47, 168, 219) ;
  font-weight: bold;
  height: 50px;
  width: 135px;
  border: 2px solid rgb(253, 184, 22);
  box-shadow: 0 0 20px rgb(253, 184, 22);
  margin: 3px;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.logout:hover {
  color: black;
  background-color:  rgb(253, 184, 22);
  border: 2px solid  rgb(47, 168, 219);
  box-shadow: 0 0 20px  rgb(47, 168, 219);
}

.dateList {
  border: 1px solid black;
  padding: 5px;
}

.form-group{
  margin-bottom: 20px
}

